<p>Current office holder: <a href="/data/candidate/{{ candidate_id }}">{{ incumbent_name }}</a> | {{ party_name }}</p>
<!--<p>Last election: {{ last_election_date }}</p>
<p>Next election: {{ next_election_date }}</p>-->
